# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.env
.env.*
venv/
env/
.venv/

# ======================
# Django
# ======================
*.log
media/
staticfiles/





# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE
# ======================
.idea/
.vscode/
